<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <main>
      <section class="container">
        <div class="row text-center justify-content-center">
          <div class="col-6">
            <img
              src="../../assets/img/banner 6.jpg "
              alt="img"
              class="img-fluid w-100 mt-3 mx-auto d-block"
            />
          </div>
          <h1 class="mt-3">APORTA AL FRAILEJÓN</h1>
        </div>
      </section>
      <section class="container">
        <div class="row text-center justify-content-center">
          <div class="col-6 border">
            <form>
              <div class="input-group mb-3">
                <span class="input-group-text">
                  <i class="bi bi-pencil-fill"></i>
                </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombres y Apellidos"
                />
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">
                  <i class="bi bi-geo-alt-fill"></i>
                </span>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Selecciona tu Departamento</option>
                  <option value="1">Antioquia</option>
                  <option value="2">Amazonas</option>
                  <option value="3">Cundinamarca</option>
                  <option value="3">Valle del Cauca</option>
                  <option value="3">Chocó</option>
                </select>
              </div>

              <div class="mb-3">
                <p class="fw-bold">
                  Selecciona tu tipo de aporte: (puedes elegir varios)
                </p>
                <hr />
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    500USD
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Artículos para la conservación
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Trabajo voluntario
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Adoptar mascotas
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Alimentos
                  </label>
                  <hr>
                </div>
              </div>
              <div class="mb-3">
                <p class="fw-bold">¿Quieres recibir el peluche de frailejón?</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      SI
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      NO
                    </label>
                  </div>
              </div>
              <div class="mb-3">
                <hr>
                <p class="fw-bold">Adjunte el archivo</p>
                
                <input type="file">
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>

    <footer>
    </section>
    <section class="container-fluid bg-success p-5">
      <div class="row mt-5 text-white">
        <div class="col-4 text-start border-end">
          
          <p>
            Dirección: Carrera 43D No 10-30, Medellín, Colombia. Ubicado entre la calle 10 y la 10A, dos cuadras abajo del Parque del Poblado.
            <br>
            Horarios: Lunes a sábado de 12:00pm a 2:45pm y de 6:00pm a 10:00pm
            <br>
            Telefono: (604) 311257
            <br>
            Whatsapp: (312) 833 040
          </p>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.3936323838716!2d-75.5748622251969!3d6.211703093776211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44282b691ba559%3A0x5b3875652c6604e!2sHerbario%20Restaurante!5e0!3m2!1ses-419!2sco!4v1706827207588!5m2!1ses-419!2sco" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-4 border-end">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio neque doloribus perspiciatis hic delectus dicta possimus alias dolorum cum. Quod odit cupiditate reiciendis in! Illo nihil vitae excepturi. Error aspernatur tenetur expedita, excepturi eligendi nisi iusto distinctio culpa rem saepe? Quos dicta vero unde incidunt distinctio placeat ab fugit. Aliquam faplaceat, voluptatum facilis eaque vel blanditiis molestiae. Vero aliquid quos, eum praesentium ratione temporibus accusamus laboriosam, eius cupiditate vel quam error? Id sit et nihil sint dicta nostrum aliquid quia, fugit reprehenderit, at doloribus incidunt laborum illum consequuntur animi quisquam, odit sed perspiciatis placeat ad autem? Expedita voluptas laborum voluptate eaque reprehenderit! Ipsam enim atque labore consectetur ducimus ratione quos quae neque autem! Tempora corporis esse obcaecati aspernatur est, consectetur aut officia, laudantium fuga id ad, provident laboriosam.
            </p>
        </div>
        <div class="col-4">
            <a href="https://www.facebook.com"target="_blank">
                <i class="bi bi-facebook fs-1 text-white me-3"></i>
              </a>
              <a href="https://www.instagram.com"target="_blank">
                <i class="bi bi-instagram fs-1 text-white me-3"></i>
              </a>
  
              <a href="https://www.google.com"target="_blank">
                <i class="bi bi-whatsapp fs-1 text-white me-3"></i>
              </a>
        </div>

          

                  
       
      

    </section>
    </footer>


  </body>
</html>
