<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../assets/styles/estilos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../../assets/img/134157_money_cashier_dollar_currency_icon.png" type="image/png">
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <header></header>

    <main>
      <section class="container">
        <div class="row text-center justify-content-center mt-5 fuente">
          <div class="col-3">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
              magnam aspernatur iste veritatis? Necessitatibus consectetur
              dolorem consequatur cum earum dolore alias facere nisi, eveniet
              qui dolor praesentium facilis, exercitationem nobis aspernatur
              quae quasi! Pariatur provident in possimus doloremque impedit, hic
              enim quos maxime soluta quam nobis blanditiis voluptates!
              Inventore ratione incidunt excepturi nobis quos quis ab ea officia
              aspernatur culpa eveniet accusamus, accusantium vel, in maxime
              corrupti praesentium quia molestias cum expedita qui, voluptatibus
              porro reiciendis dolorem? Recusandae ut cum necessitatibus odio
              tempore deleniti voluptas inventore voluptatum nobis. At facere,
              quia voluptas ut eius nulla nobis iusto repudiandae
            </p>
          </div>
          <div class="col-3">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
              magnam aspernatur iste veritatis? Necessitatibus consectetur
              dolorem consequatur cum earum dolore alias facere nisi, eveniet
              qui dolor praesentium facilis, exercitationem nobis aspernatur
              quae quasi! Pariatur provident in possimus doloremque impedit, hic
              enim quos maxime soluta quam nobis blanditiis voluptates!
              Inventore ratione incidunt excepturi nobis quos quis ab ea officia
              aspernatur culpa eveniet accusamus, accusantium vel, in maxime
              corrupti praesentium quia molestias cum expedita qui, voluptatibus
              porro reiciendis dolorem? Recusandae ut cum necessitatibus odio
              tempore deleniti voluptas inventore voluptatum nobis. At facere,
              quia voluptas ut eius nulla nobis iusto repudiandae
            </p>
          </div>
          <div class="col-3">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
              magnam aspernatur iste veritatis? Necessitatibus consectetur
              dolorem consequatur cum earum dolore alias facere nisi, eveniet
              qui dolor praesentium facilis, exercitationem nobis aspernatur
              quae quasi! Pariatur provident in possimus doloremque impedit, hic
              enim quos maxime soluta quam nobis blanditiis voluptates!
              Inventore ratione incidunt excepturi nobis quos quis ab ea officia
              aspernatur culpa eveniet accusamus, accusantium vel, in maxime
              corrupti praesentium quia molestias cum expedita qui, voluptatibus
              porro reiciendis dolorem? Recusandae ut cum necessitatibus odio
              tempore deleniti voluptas inventore voluptatum nobis. At facere,
              quia voluptas ut eius nulla nobis iusto repudiandae
            </p>
          </div>
          <div class="col-3">
            <p>
              orem ipsum dolor sit amet consectetur adipisicing elit. Totam
              magnam aspernatur iste veritatis? Necessitatibus consectetur
              dolorem consequatur cum earum dolore alias facere nisi, eveniet
              qui dolor praesentium facilis, exercitationem nobis aspernatur
              quae quasi! Pariatur provident in possimus doloremque impedit, hic
              enim quos maxime soluta quam nobis blanditiis voluptates!
              Inventore ratione incidunt excepturi nobis quos quis ab ea officia
              aspernatur culpa eveniet accusamus, accusantium vel, in maxime
              corrupti praesentium quia molestias cum expedita qui, voluptatibus
              porro reiciendis dolorem? Recusandae ut cum necessitatibus odio
              tempore deleniti voluptas inventore voluptatum nobis. At facere,
              quia voluptas ut eius nulla nobis iusto repudiandae
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
