<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Frailejón</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <header>
        <nav class="navbar navbar-expand-lg fondomenu">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img
                src="../../assets/img/logotienda2.avif"
                alt="logo"
                class="img-fluid"
                width="100"
                height="100"
              />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Acerca de</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Regístrate</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <main>
        <section class="container">
            <div class="row">
                <div class="col12 text-center justify-content-center">
                    <h2>¿QUIÉNES SOMOS?</h2>
                    <p>Elige nuestra tienda si valoras la autenticidad y la calidad de las piedras semipreciosas. Nuestros productos son seleccionados con el máximo cuidado y dedicación, y ofrecemos una gran variedad de piedras para que puedas encontrar exactamente lo que buscas.</p>
                </div>
            </div>


        </section>
        <section class="container">
            <div class="row row-cols-1 row-cols-md-5">

                <div class="col">
                    <div class=" card p-2 shadow h-100">
                        <img src="../../assets/img/producto1.webp" alt="producto1" class="img-fluid w-100">
                        <h4 class="text-center"> Esfera de fluorita </h4>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, exercitationem.</p>
                        <hr>
                        <h5 class="fw-bold text-center">$1.723.000 COP</h5>
                        <button type="button" class="btn btn-warning"> <i class="bi bi-cart-check"></i> Agregar al carrito </button>
                    </div>

                </div>

                <div class="col">
                    <div class=" card p-2 shadow h-100">
                        <img src="../../assets/img/producto2.webp" alt="producto2" class="img-fluid w-100">
                        <h4 class="text-center"> Estrella amatista</h4>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, exercitationem.</p>
                        <hr>
                        <h5 class="fw-bold text-center">$155.000 COP</h5>
                        <button type="button" class="btn btn-success"> <i class="bi bi-cart-check"></i> Agregar al carrito </button>
                    </div>

                </div>

                <div class="col">
                    <div class=" card p-2 shadow h-100">
                        <img src="../../assets/img/producto3.webp" alt="producto3" class="img-fluid w-100">
                        <h4 class="text-center"> Piedra azurita </h4>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, exercitationem.</p>
                        <hr>
                        <h5 class="fw-bold text-center">$70.000 COP</h5>
                        <button type="button" class="btn btn-warning"> <i class="bi bi-cart-check"></i> Agregar al carrito </button>
                    </div>

                </div>

                <div class="col">
                    <div class=" card  p-2 shadow h-100">
                        <img src="../../assets/img/producto4.webp" alt="producto4" class="img-fluid w-100">
                        <h4 class="text-center"> Turmalina rosa</h4>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, exercitationem.</p>
                        <hr>
                        <h5 class="fw-bold text-center">$268.000 COP</h5>
                        <button type="button" class="btn btn-warning"> <i class="bi bi-cart-check"></i> Agregar al carrito </button>
                    </div>

                </div>

                <div class="col">
                    <div class=" card p-2 shadow h-100">
                        <img src="../../assets/img/producto5.webp" alt="producto5" class="img-fluid w-100">
                        <h4 class="text-center"> Fluorita verde</h4>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, exercitationem.</p>
                        <hr>
                        <h5 class="fw-bold text-center">$1.723.000 COP</h5>
                        <button type="button" class="btn btn-warning"> <i class="bi bi-cart-check"></i> Agregar al carrito </button>
                    </div>

                </div>

            </div>

        </section>



      </main>


</body>
</html>